footer {
  background-color: rgba(230, 230, 230, 0.7);
  bottom: 0;
  box-shadow: 0px -4.5px 10px rgba(110, 116, 134, 0.3);
  position: fixed;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 16px 0;
  z-index: 0;
}

.icons img {
  height: 30px;
}
